USE [master]
GO
/****** Objet : Database [ECF_AEL_CDA] Date de script : 12/06/2026 11:00:57 ******/
CREATE DATABASE [ECF_AEL_CDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECF_AEL_CDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.HLCDA2026\MSSQL\DATA\ECF_AEL_CDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECF_AEL_CDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.HLCDA2026\MSSQL\DATA\ECF_AEL_CDA_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECF_AEL_CDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECF_AEL_CDA]
GO
/****** Objet : Table [dbo].[CALENDRIER] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDRIER](
	[date_heure] [datetime] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CALENDRIER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[ELEVE] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELEVE](
	[id_eleve] [int] NOT NULL,
	[nom_eleve] [varchar](50) NOT NULL,
	[prenom_eleve] [varchar](50) NOT NULL,
	[code] [bit] NOT NULL,
	[conduite] [bit] NOT NULL,
	[date_naissance_eleve] [date] NOT NULL,
	[date_inscription] [date] NOT NULL,
 CONSTRAINT [PK_ELEVE] PRIMARY KEY CLUSTERED 
(
	[id_eleve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LECON] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECON](
	[lecon_modele_vehic] [varchar](50) NOT NULL,
	[lecon_date_heure] [datetime] NOT NULL,
	[lecon_eleve_id] [int] NOT NULL,
	[lecon_moniteur_id] [int] NOT NULL,
	[duree] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calendrier_id] [int] NULL,
 CONSTRAINT [PK_LECON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[MODELE] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELE](
	[modele_vehic] [varchar](50) NOT NULL,
	[marque] [varchar](50) NOT NULL,
	[annee] [nchar](4) NOT NULL,
	[date_achat] [date] NOT NULL,
 CONSTRAINT [PK_MODELE] PRIMARY KEY CLUSTERED 
(
	[modele_vehic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[MONITEUR] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITEUR](
	[id_moniteur] [int] NOT NULL,
	[nom_moniteur] [varchar](50) NOT NULL,
	[prenom_moniteur] [varchar](50) NOT NULL,
	[date_naissance_moniteur] [date] NOT NULL,
	[date_embauche] [date] NOT NULL,
	[activite] [bit] NOT NULL,
 CONSTRAINT [PK_MONITEUR] PRIMARY KEY CLUSTERED 
(
	[id_moniteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[VEHICULE] Date de script : 12/06/2026 11:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULE](
	[num_immatric] [varchar](9) NOT NULL,
	[modele_vehic] [varchar](50) NOT NULL,
	[etat] [bit] NOT NULL,
 CONSTRAINT [PK_VEHICULE] PRIMARY KEY CLUSTERED 
(
	[num_immatric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LECON]  WITH CHECK ADD  CONSTRAINT [FK_lecon_calendrier] FOREIGN KEY([calendrier_id])
REFERENCES [dbo].[CALENDRIER] ([id])
GO
ALTER TABLE [dbo].[LECON] CHECK CONSTRAINT [FK_lecon_calendrier]
GO
ALTER TABLE [dbo].[LECON]  WITH CHECK ADD  CONSTRAINT [FK_lecon_eleve] FOREIGN KEY([lecon_eleve_id])
REFERENCES [dbo].[ELEVE] ([id_eleve])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LECON] CHECK CONSTRAINT [FK_lecon_eleve]
GO
ALTER TABLE [dbo].[LECON]  WITH CHECK ADD  CONSTRAINT [FK_lecon_modele] FOREIGN KEY([lecon_modele_vehic])
REFERENCES [dbo].[MODELE] ([modele_vehic])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LECON] CHECK CONSTRAINT [FK_lecon_modele]
GO
ALTER TABLE [dbo].[LECON]  WITH CHECK ADD  CONSTRAINT [FK_lecon_moniteur] FOREIGN KEY([lecon_moniteur_id])
REFERENCES [dbo].[MONITEUR] ([id_moniteur])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LECON] CHECK CONSTRAINT [FK_lecon_moniteur]
GO
ALTER TABLE [dbo].[VEHICULE]  WITH CHECK ADD  CONSTRAINT [FK_Vehicule_Modele] FOREIGN KEY([modele_vehic])
REFERENCES [dbo].[MODELE] ([modele_vehic])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VEHICULE] CHECK CONSTRAINT [FK_Vehicule_Modele]
GO
USE [master]
GO
